body {
    display: inline-flex;
    background-color: gray;

    color: white;

    position: fixed;
    margin: 10px;
}

canvas {
    border: 3px solid gray;
}

.info {
    position:absolute;
    z-index:9999;
    width: 100%;
}